<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CloudyWing.Spreadsheet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <CloudyWing.Spreadsheet.Properties.Settings>
      <setting name="HorizontalAlignment" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="VerticalAlignment" serializeAs="String">
        <value>top</value>
      </setting>
      <setting name="HasBorder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WrapText" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FontName" serializeAs="String">
        <value>新細明體</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="FontColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="IsBold" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsItalic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HasUnderline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsStrikeout" serializeAs="String">
        <value>False</value>
      </setting>
    </CloudyWing.Spreadsheet.Properties.Settings>
  </applicationSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
